<!-- app/views/admin/users/edit.html.erb -->
<title>iLead Cricket Auction</title>
<h2>Edit Team</h2>

<%= render 'form' %>

<%= link_to 'Show', team_path(@team) %> |
<%= link_to 'Back', teams_path %>

