<title>iLead Cricket Auction</title>
<style>
    .admin{
        margin-top: 25px;
        display: flex;
    }
</style>
<div class="admin">
<% @admin.each do |admin|%>
    <div style="margin-top: 20px;">    
        <li><%=admin.email%></li>
        <%= link_to 'View Admin', admin_session_path(admin) %>
        <%#= button_to "Cancel my account", admin_session_path(admin), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },class: "btn btn-block mt-3 custom-btn", method: :delete %></div>
<%end%>
</div>