<div class="edit-image">
  <%= form_for(user, url: associate_photo_user_path(user), remote: true, method: :patch) do |f| %>
    <%= f.file_field :photo_attachment %>
    <%= f.submit 'Update' %>
  <% end %>
</div>