<h3>New Request Details: </h3></br>

<h4>Id:<%= @access_form.name%></h4>
<h4>Email: <%= @access_form.email%></h4>
<h4>Contact_number: <%= @access_form.contact_number%></h4>
<h4>Description:<%= @access_form.description%></h4>